
# Deve bater com os valores usados no docker-compose.yml
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iia_db
DB_USERNAME=iia
DB_PASSWORD=iia

# Gerar a api key em https://aistudio.google.com/apikey
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
